<div class="site-nav">
  <ul class="main">
    {% for item in site.navigation %}{% 
      assign class = '' %}{% 
        if page.nav == item.title %}{% 
          assign class = 'active' %}{% 
        endif %}
      <li>
        <a href="{{ item.url }}" class="{{ class }}">
            {{ item.title }}
        </a>
      </li>
  {% endfor %}
  {% if site.instagram_username %}
    <li>
      <a href="https://instagram.com/{{ site.instagram_username }}">
          <svg class="icon" viewBox="0 0 32 32">
            <use xlink:href="#shape-instagram" />
          </svg>
      </a>
    </li>
    {% endif %}{% 
    if site.twitter_username %}
    <li>
      <a href="https://twitter.com/{{ site.twitter_username }}">
          <svg class="icon" viewBox="0 0 32 32">
            <use xlink:href="#shape-twitter" />
          </svg>
      </a>
    </li>
    {% endif %}{% 
    if site.linkedin_username %}
    <li>
      <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
          <svg class="icon" viewBox="0 0 32 32">
            <use xlink:href="#shape-linkedin" />
          </svg>
      </a>
    </li>
     {% endif %}{% 
     if site.email %}
    <li>
      <a href="mailto:{{ site.email }}">
          <svg class="icon" viewBox="0 0 32 32">
            <use xlink:href="#shape-mail" />
          </svg>
      </a>
    </li>
    {% endif %}


  </ul>
</div>