<header id="header" class="site-header">
	<div class="container clearfix">

		<div class="nametag clearfix">
			<a href="{{ site.baseurl }}/" class="lockup">
				<div class="logo">
					<!--<div class="logo-mark"></div>-->
					<svg viewBox="0 0 112 56">
			          <use xlink:href="#shape-logo-pencil-new" />
			        </svg>
				</div>
			  	<div class="logo-type">Brian Levy</div>
			</a>			
		</div>
		<div class="tagline">User Experience &amp; Graphic Design</div>
		{% include nav.html %}
	</div>
</header>