<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="The design portfolio of Brian Levy">
  <meta name="author" content="Brian Levy">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <link href="http://fnt.webink.com/wfs/webink.css/?project=23122F42-EF5A-4E96-9F25-9A029A176C47&fonts=17942152-2E9C-9E89-B180-18BD2F0563B9:f=ProximaNovaExCn-Semibold,26B3838D-5FF2-FA21-5635-3BCDCCF95F29:f=ProximaNovaExCn-Bold,E213AFFE-F903-C651-3ECD-BF8B621702B1:f=MuseoSlab-500,CD130FFC-5E7E-027D-E10B-A5A99FA17129:f=MuseoSlab-500Italic,02320BBB-094B-427B-BA9B-737C89FF9A2D:f=ProximaNovaExCn-Regular" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" media="screen, projection" href="css/screen.css">
  <link rel="stylesheet" media="screen, projection" href="css/responsive.css">
  <link rel="shortcut icon" href="favicon.ico">
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="js/script.js"></script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38652128-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>