<!--<div class="site-nav">
	<ul>
		<li>
			<a href="{{ site.baseurl }}/">Work</a>
		</li>
		{% for page in site.pages %}
        {% if page.title %}
        <li>
        	<a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    	</li>
          {% endif %}
        {% endfor %}
	</ul>
  {% include social-links.html %}
</div>-->

<div class="site-nav">
  <ul>
    {% for item in site.navigation %}
      {% assign class = '' %}
      {% if page.nav == item.title %}
          {% assign class = 'active' %}
      {% endif %}
      <li>
        <a href="{{ item.url }}" class="{{ class }}">
            {{ item.title }}
        </a>
      </li>
  {% endfor %}

  </ul>
  {% include social-links.html %}
</div>